##### 1--- avg cost for two

In [34]:
import pandas as pd

In [35]:
df = pd.read_csv("Zomato.csv",encoding='latin1')

In [36]:
avg_per_city = df.groupby('City')['Average Cost for two'].mean()

print(avg_per_city)

City
Abu Dhabi           182.000000
Agra               1065.000000
Ahmedabad           857.142857
Albany               19.750000
Allahabad           517.500000
                      ...
Weirton              25.000000
Wellington City      71.250000
Winchester Bay       25.000000
Yorkton              25.000000
ÛÁstanbul            81.428571
Name: Average Cost for two, Length: 141, dtype: float64

#### 2--highest rating restaurant

In [37]:
max_rating = df.groupby('City')['Aggregate rating'].mean()
max_rating

City
Abu Dhabi          4.300000
Agra               3.965000
Ahmedabad          4.161905
Albany             3.555000
Allahabad          3.395000
                     ...
Weirton            3.900000
Wellington City    4.250000
Winchester Bay     3.200000
Yorkton            3.300000
ÛÁstanbul          4.292857
Name: Aggregate rating, Length: 141, dtype: float64

In [38]:

city_highest = max_rating.idxmax()
highest_avg_rating = max_rating.max()


print(city_highest)
print("with score of:",highest_avg_rating)

Inner City
with score of: 4.9

#### 3----online delivery available vs not

In [39]:
del_dist = df['Has Online delivery'].value_counts()

print("Distribution of restaurants:")
print(del_dist)

Distribution of restaurants:
Has Online delivery
No     7100
Yes    2451
Name: count, dtype: int64

#### 4--- avg votes group by price range

In [40]:
avg_votes = df.groupby('Price range')['Votes'].mean()

print("Average number of votes :")
print(avg_votes)

Average number of votes :
Price range
1     44.597435
2    147.607131
3    443.860795
4    368.595563
Name: Votes, dtype: float64

#### 5----highest no of restaurants

In [41]:
locality_counts = df['Locality'].value_counts()

most_restaurants = locality_counts.idxmax()

print("Locality with the highest restaurants is:", most_restaurants)

Locality with the highest restaurants is: Connaught Place

#### 6--- top crusines

In [42]:
def get_cuisine(a):
    cuisines = df['Cuisines'].str.split(', ').explode()
    cuisine_counts = cuisines.value_counts()
    top_cuisine = cuisine_counts.idxmax()
    return top_cuisine

cuisines_by_city = df.groupby('City').apply(get_cuisine)

print("Top cuisines served in each city:")
print(cuisines_by_city)

Top cuisines served in each city:
City
Abu Dhabi          North Indian
Agra               North Indian
Ahmedabad          North Indian
Albany             North Indian
Allahabad          North Indian
                       ...
Weirton            North Indian
Wellington City    North Indian
Winchester Bay     North Indian
Yorkton            North Indian
ÛÁstanbul          North Indian
Length: 141, dtype: object

#### 7--- Aggregate rating for restaurant having  swirch to order menu and online delivery

In [43]:

grouped = df.groupby(["Switch to order menu", "Has Online delivery"])

avg_rating = grouped["Aggregate rating"].mean()

print(avg_rating)

Switch to order menu  Has Online delivery
No                    No                     2.465296
                      Yes                    3.248837
Name: Aggregate rating, dtype: float64

#### 8-- table booking available vs no ratings

In [45]:
group= df.groupby(["City", "Has Table booking"])

average_rating = group["Aggregate rating"].mean()

print(average_rating)

City             Has Table booking
Abu Dhabi        No                   4.235714
                 Yes                  4.450000
Agra             No                   3.965000
Ahmedabad        No                   4.161905
Albany           No                   3.555000
                                        ...
Weirton          No                   3.900000
Wellington City  No                   4.250000
Winchester Bay   No                   3.200000
Yorkton          No                   3.300000
ÛÁstanbul        No                   4.292857
Name: Aggregate rating, Length: 165, dtype: float64

#### 9_total rating colors

In [46]:
rating_color= df["Rating color"].value_counts()

print(rating_color)

Rating color
Orange        3737
White         2148
Yellow        2100
Green         1079
Dark Green     301
Red            186
Name: count, dtype: int64

#### 10 avg rating for restaurant in each country

In [47]:
avg_rating = df.groupby("Country Code")["Aggregate rating"].mean()

print(avg_rating)

Country Code
1      2.523324
14     3.658333
30     3.763333
37     3.575000
94     4.295238
148    4.262500
162    4.468182
166    4.060000
184    3.575000
189    4.210000
191    3.870000
208    4.300000
214    4.233333
215    4.087500
216    4.004378
Name: Aggregate rating, dtype: float64