In [1]:
import pandas as pd

In [2]:
# df = pd.read_excel('InternDataSajaa.xlsx')

In [3]:
# df.to_csv('Well_miningDS.csv')

In [4]:
df = pd.read_csv('Well_miningDS.csv')

In [5]:
df.columns

Index(['Unnamed: 0', 'Index', 'Well', 'Leg', 'Formation', 'Biozone',
       'Measured Depth (ft)', 'Footage Drilled / hr ', 'WHP (psig)',
       'SiBHP (psig)', 'BHP (psig)', 'Difference',
       'Reservoir Gas Rate (MMSCF/D)', 'BHT (DegF)',
       'Comments, post SNOC input'],
      dtype='object')

In [6]:
df

,Unnamed: 0,Index,Well,Leg,Formation,Biozone,Measured Depth (ft),Footage Drilled / hr,WHP (psig),SiBHP (psig),BHP (psig),Difference,Reservoir Gas Rate (MMSCF/D),BHT (DegF),"Comments, post SNOC input"
0,0,0,SAJAA-01,LEG C,SHUAIBA,19_S10,10680.0,48.0,234.6,1118,1155,NaN,0.736,NaN,NaN
1,1,1,SAJAA-01,LEG C,KHARAIB,2_K90,10728.0,62.9,98.0,1118,1108,NaN,0.133,NaN,NaN
2,2,2,SAJAA-01,LEG C,KHARAIB,20_K80 UPPER,10791.0,30.5,115.9,1118,1091,NaN,0.008,NaN,NaN
3,3,3,SAJAA-01,LEG C,KHARAIB,21_K80 MID/LOWER,10821.0,14.1,112.3,1118,1075,NaN,0.000,NaN,NaN
4,4,4,SAJAA-01,LEG C,KHARAIB,21_K80 MID/LOWER,10836.0,45.4,106.1,1118,1055,NaN,0.063,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1497,1497,1775,SAJAA-06,LEG D,HABSHAN,43_H90,14254.0,46.0,70.1,860,1271,NaN,2.731,NaN,NaN
1498,1498,1776,SAJAA-06,LEG D,HABSHAN,43_H90,14300.0,38.0,83.2,860,1275,NaN,2.713,NaN,NaN
1499,1499,1777,SAJAA-06,LEG D,HABSHAN,43_H90,14338.0,62.0,66.4,860,1281,NaN,2.667,NaN,NaN
1500,1500,1778,SAJAA-06,LEG D,HABSHAN,43_H90,14400.0,40.0,67.5,860,1285,NaN,2.845,NaN,NaN
1501,1501,1779,SAJAA-06,LEG D,HABSHAN,43_H90,14440.0,26.0,66.3,860,1271,NaN,2.699,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    1502 non-null   int64
 1   Index                         1502 non-null   int64
 2   Well                          1502 non-null   object
 3   Leg                           1502 non-null   object
 4   Formation                     1502 non-null   object
 5   Biozone                       1500 non-null   object
 6   Measured Depth (ft)           1501 non-null   float64
 7   Footage Drilled / hr          1501 non-null   float64
 8   WHP (psig)                    1502 non-null   float64
 9   SiBHP (psig)                  1502 non-null   int64
 10  BHP (psig)                    1502 non-null   int64
 11  Difference                    271 non-null    float64
 12  Reservoir Gas Rate (MMSCF/D)  1502 non-null   float64
 13  BHT (DegF)                    1 non-null      object
 14  Comments, post SNOC input     360 non-null    object
dtypes: float64(5), int64(4), object(6)
memory usage: 176.1+ KB

In [8]:
df.isna().sum()

Unnamed: 0                         0
Index                              0
Well                               0
Leg                                0
Formation                          0
Biozone                            2
Measured Depth (ft)                1
Footage Drilled / hr               1
WHP (psig)                         0
SiBHP (psig)                       0
BHP (psig)                         0
Difference                      1231
Reservoir Gas Rate (MMSCF/D)       0
BHT (DegF)                      1501
Comments, post SNOC input       1142
dtype: int64

In [9]:
df['Difference'] = df['SiBHP (psig)'] - df['BHP (psig)']

In [10]:
col_names = ['Measured Depth (ft)', 'Footage Drilled / hr ']

for column in col_names:
    mean_value = df[column].mean()
    df[column].fillna(df[column].mean(), inplace=True)

In [11]:
df['Biozone'].fillna(method='bfill', inplace=True)

C:\Users\Pratham\AppData\Local\Temp\ipykernel_16356\627593489.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Biozone'].fillna(method='bfill', inplace=True)

In [12]:
df2 = df.iloc[:, :12]

In [13]:
df2

,Unnamed: 0,Index,Well,Leg,Formation,Biozone,Measured Depth (ft),Footage Drilled / hr,WHP (psig),SiBHP (psig),BHP (psig),Difference
0,0,0,SAJAA-01,LEG C,SHUAIBA,19_S10,10680.0,48.0,234.6,1118,1155,-37
1,1,1,SAJAA-01,LEG C,KHARAIB,2_K90,10728.0,62.9,98.0,1118,1108,10
2,2,2,SAJAA-01,LEG C,KHARAIB,20_K80 UPPER,10791.0,30.5,115.9,1118,1091,27
3,3,3,SAJAA-01,LEG C,KHARAIB,21_K80 MID/LOWER,10821.0,14.1,112.3,1118,1075,43
4,4,4,SAJAA-01,LEG C,KHARAIB,21_K80 MID/LOWER,10836.0,45.4,106.1,1118,1055,63
...,...,...,...,...,...,...,...,...,...,...,...,...
1497,1497,1775,SAJAA-06,LEG D,HABSHAN,43_H90,14254.0,46.0,70.1,860,1271,-411
1498,1498,1776,SAJAA-06,LEG D,HABSHAN,43_H90,14300.0,38.0,83.2,860,1275,-415
1499,1499,1777,SAJAA-06,LEG D,HABSHAN,43_H90,14338.0,62.0,66.4,860,1281,-421
1500,1500,1778,SAJAA-06,LEG D,HABSHAN,43_H90,14400.0,40.0,67.5,860,1285,-425
1501,1501,1779,SAJAA-06,LEG D,HABSHAN,43_H90,14440.0,26.0,66.3,860,1271,-411

In [14]:
leg_count = df.groupby('Well')['Leg'].count()
leg_count

Well
SAJAA-01    331
SAJAA-03    291
SAJAA-04    340
SAJAA-05    271
SAJAA-06    269
Name: Leg, dtype: int64

In [15]:
uniq_legs = df.groupby('Well')['Leg'].nunique()
uniq_legs

Well
SAJAA-01    6
SAJAA-03    6
SAJAA-04    9
SAJAA-05    4
SAJAA-06    4
Name: Leg, dtype: int64

#### number of unique legs in each well

In [16]:
uniq_leg_count = df.groupby(['Well', 'Leg']).size()
uniq_leg_count

Well      Leg
SAJAA-01  LEG 5I              50
          LEG 6H              62
          LEG 7I              51
          LEG 8G              61
          LEG C               41
          LEG D               66
SAJAA-03  LEG A               40
          LEG B               98
          LEG D               18
          LEG D (ST1/ST2)     47
          LEG E               54
          LEG G               34
SAJAA-04  LEG B               69
          LEG C              105
          LEG D               33
          LEG D (ST)           3
          LEG D (ST2)         20
          LEG F               18
          LEG F (ST)          44
          LEG F (ST2)         10
          LEG H               38
SAJAA-05  LEG A               87
          LEG B               78
          LEG C               96
          LEG C (ST)          10
SAJAA-06  LEG B               74
          LEG C               76
          LEG C (ST)          34
          LEG D               85
dtype: int64

In [17]:
uniq_leg_count = df.groupby(['Well', 'Leg']).size().reset_index(name='Leg_Count')
uniq_leg_count

        Well              Leg  Leg_Count
0   SAJAA-01           LEG 5I         50
1   SAJAA-01           LEG 6H         62
2   SAJAA-01           LEG 7I         51
3   SAJAA-01           LEG 8G         61
4   SAJAA-01            LEG C         41
5   SAJAA-01            LEG D         66
6   SAJAA-03            LEG A         40
7   SAJAA-03            LEG B         98
8   SAJAA-03            LEG D         18
9   SAJAA-03  LEG D (ST1/ST2)         47
10  SAJAA-03            LEG E         54
11  SAJAA-03            LEG G         34
12  SAJAA-04            LEG B         69
13  SAJAA-04            LEG C        105
14  SAJAA-04            LEG D         33
15  SAJAA-04       LEG D (ST)          3
16  SAJAA-04      LEG D (ST2)         20
17  SAJAA-04            LEG F         18
18  SAJAA-04       LEG F (ST)         44
19  SAJAA-04      LEG F (ST2)         10
20  SAJAA-04            LEG H         38
21  SAJAA-05            LEG A         87
22  SAJAA-05            LEG B         78
23  SAJAA-05            LEG C         96
24  SAJAA-05       LEG C (ST)         10
25  SAJAA-06            LEG B         74
26  SAJAA-06            LEG C         76
27  SAJAA-06       LEG C (ST)         34
28  SAJAA-06            LEG D         85