In [28]:
import pandas as pd

In [29]:
df = pd.read_csv("DS/Sales_April_2019.csv")

In [30]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [31]:
df= df.dropna()

In [32]:
df = df[df['Product'] != 'Product']

In [33]:
df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)
df['Price Each'] = df['Price Each'].astype(float)

In [34]:
df['total_price'] = df['Price Each'] * df['Quantity Ordered']

#### 1---total sales for each product

In [35]:
df.groupby('Product')['total_price'].sum().reset_index()

                       Product  total_price
0                 20in Monitor     43446.05
1       27in 4K Gaming Monitor    220344.35
2             27in FHD Monitor    110542.63
3       34in Ultrawide Monitor    248133.47
4        AA Batteries (4-pack)     10836.48
5       AAA Batteries (4-pack)      8778.64
6     Apple Airpods Headphones    228750.00
7   Bose SoundSport Headphones    128787.12
8                Flatscreen TV    137700.00
9                 Google Phone    348600.00
10                    LG Dryer     46200.00
11          LG Washing Machine     36600.00
12    Lightning Charging Cable     35446.45
13          Macbook Pro Laptop    773500.00
14             ThinkPad Laptop    391996.08
15        USB-C Charging Cable     27126.50
16             Vareebadd Phone     88000.00
17            Wired Headphones     24771.34
18                      iPhone    486500.00

#### 2-- total overall sale for all products combined

In [36]:
total_sale = df['total_price'].sum()
total_sale

3396059.11

#### 3-- avg of quantity ordered

In [37]:
avg_quan = df['Quantity Ordered'].mean()
avg_quan

1.1246104215648751

#### 4-- avg of price of each product

In [38]:
avg_price = df['Price Each'].mean()
avg_price

184.4310262999617

#### 5-- top selling products

In [39]:
group = df.groupby('Product')['Quantity Ordered'].sum()
group.sort_values(ascending=False)

Product
AAA Batteries (4-pack)        2936
AA Batteries (4-pack)         2822
Lightning Charging Cable      2371
USB-C Charging Cable          2270
Wired Headphones              2066
Apple Airpods Headphones      1525
Bose SoundSport Headphones    1288
27in FHD Monitor               737
iPhone                         695
34in Ultrawide Monitor         653
Google Phone                   581
27in 4K Gaming Monitor         565
Flatscreen TV                  459
Macbook Pro Laptop             455
20in Monitor                   395
ThinkPad Laptop                392
Vareebadd Phone                220
LG Dryer                        77
LG Washing Machine              61
Name: Quantity Ordered, dtype: int32

#### 6-- total sales per month

In [40]:
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%m/%d/%y %H:%M')

In [41]:
order_month = df['Order Date'].dt.to_period('M')

group_sales= df.groupby(order_month)['total_price']

monthly_sales = group_sales.sum()
monthly_sales

Order Date
2019-04    3385499.82
2019-05      10559.29
Freq: M, Name: total_price, dtype: float64

In [42]:
### another way
# df.set_index('Order Date', inplace=True)
# monthly_sales = df['total_price'].resample('M').sum()
# monthly_sales

#### 7--most_common_address

In [43]:
most_freq = df['Purchase Address'].value_counts()
most_freq

Purchase Address
821 Elm St, Austin, TX 73301               4
197 Center St, San Francisco, CA 94016     4
479 9th St, Los Angeles, CA 90001          3
930 Hickory St, San Francisco, CA 94016    3
127 Main St, Los Angeles, CA 90001         3
                                          ..
634 8th St, Boston, MA 02215               1
6 West St, New York City, NY 10001         1
687 Dogwood St, San Francisco, CA 94016    1
776 Walnut St, New York City, NY 10001     1
354 North St, Boston, MA 02215             1
Name: count, Length: 17119, dtype: int64

In [44]:
most_freq.idxmax()

'821 Elm St, Austin, TX 73301'

#### 8-- average order value

In [45]:
df['total_price'].mean()

185.68861665481984

#### 9-- yearly sales growth

In [46]:
df['Year'] = df['Order Date'].dt.year

yearly_sales = df.groupby('Year')['total_price'].sum()

yearly_growth = yearly_sales.pct_change() * 100  

yearly_growth

Year
2019   NaN
Name: total_price, dtype: float64

#### 10--- highest orders using threshold

In [47]:
threshold = 6

max_orders = df[df['Quantity Ordered'] > threshold]
max_orders

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,total_price,Year
628,177160,AAA Batteries (4-pack),7,2.99,2019-04-26 11:37:00,"689 7th St, Dallas, TX 75001",20.93,2019

#### 11- highest priced items

In [48]:
max_priced = df.sort_values(by='Price Each', ascending=False)

In [49]:
max_priced.idxmax()

Order ID            18382
Product             14782
Quantity Ordered      628
Price Each           7777
Order Date          18355
Purchase Address    16274
total_price          4717
Year                 7777
dtype: int64

#### 12 --- total sales by product category

In [50]:
df['Category'] = df['Product'].str.split('-').str[0]

sales_category= df.groupby('Category')['Quantity Ordered'].sum()

In [51]:
sales_category

Category
20in Monitor                   395
27in 4K Gaming Monitor         565
27in FHD Monitor               737
34in Ultrawide Monitor         653
AA Batteries (4               2822
AAA Batteries (4              2936
Apple Airpods Headphones      1525
Bose SoundSport Headphones    1288
Flatscreen TV                  459
Google Phone                   581
LG Dryer                        77
LG Washing Machine              61
Lightning Charging Cable      2371
Macbook Pro Laptop             455
ThinkPad Laptop                392
USB                           2270
Vareebadd Phone                220
Wired Headphones              2066
iPhone                         695
Name: Quantity Ordered, dtype: int32

#### 13--top selling each month

In [52]:

df['Month'] = df['Order Date'].dt.month
df['Year'] = df['Order Date'].dt.year

product_sales = df.groupby('Product')['Quantity Ordered'].sum().reset_index()

best_selling = product_sales.loc[product_sales['Quantity Ordered'].idxmax()]

    
print("Best-selling product in", df['Order Date'].dt.strftime('%B %Y').iloc[0], "is", best_selling['Product'])

Best-selling product in April 2019 is AAA Batteries (4-pack)

#### 14-- total order value per city

In [53]:
df['City'] = df['Purchase Address'].str.split(',').str[1]
df.groupby('City')['total_price'].mean()

City
 Atlanta          193.243832
 Austin           177.475427
 Boston           184.504776
 Dallas           187.289237
 Los Angeles      182.220446
 New York City    183.478956
 Portland         194.929757
 San Francisco    184.150275
 Seattle          191.407933
Name: total_price, dtype: float64

#### 15-- corr betwn quantity and price of each product

In [54]:
corr= df['Quantity Ordered'].corr(df['Price Each'])
corr

-0.15044007218519315