In [16]:
import pandas as pd
import os

In [17]:
df = pd.read_csv("Sajaa_1_L2_(Leg_D).dev", delimiter='\t')
df

                             # WELL TRACE FROM PETREL
0         # WELL NAME:              Sajaa_1_L2_(Leg_D)
1      # DEFINITIVE SURVEY:      MD Incl Azim survey 1
2        # WELL HEAD X-COORDINATE: 367925.56000000 (m)
3       # WELL HEAD Y-COORDINATE: 2802346.56000000 (m)
4    # WELL DATUM (KB, Kelly bushing, from MSL): 25...
..                                                 ...
254   14448.233333 368553.57941 2802849.2553 -11966...
255   14461.970000 368555.16079 2802853.1249 -11967...
256   14474.646667 368556.69271 2802856.6649 -11967...
257   14487.323333 368558.28843 2802860.1762 -11968...
258   14500.000000 368559.94743 2802863.6575 -11969...

[259 rows x 1 columns]

In [18]:
dev_files_dir = r'C:\Users\Pratham\OneDrive\Desktop\Intenship\DevConversion\Sajaa 1'

dfs = []

for filename in os.listdir(dev_files_dir):
    if filename.endswith('.dev'):
        df = pd.read_csv(os.path.join(dev_files_dir, filename), delimiter='\t')
        
        df['Name'] = filename[:-4]  
        dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

excel_file_path = 'combined_data.xlsx'
combined_df.to_excel(excel_file_path, index=False)

print(f"Combined data saved to {excel_file_path}")

Combined data saved to combined_data.xlsx

In [19]:
df2 = pd.read_excel("combined_data.xlsx")

In [20]:
df2

                              # WELL TRACE FROM PETREL                 Name
0                      # WELL NAME:              Sajaa1              Sajaa1
1           # DEFINITIVE SURVEY:      Explicit survey 1              Sajaa1
2         # WELL HEAD X-COORDINATE: 367925.56000000 (m)              Sajaa1
3        # WELL HEAD Y-COORDINATE: 2802346.56000000 (m)              Sajaa1
4     # WELL DATUM (KB, Kelly bushing, from MSL): 25...              Sajaa1
...                                                 ...                 ...
2097   13889.066667 368189.85205 2801325.3564 -10183...  Sajaa_1_L8_(Leg_G)
2098   13898.300000 368191.08918 2801322.8331 -10184...  Sajaa_1_L8_(Leg_G)
2099   13916.533333 368193.64392 2801317.9079 -10185...  Sajaa_1_L8_(Leg_G)
2100   13934.766667 368196.33773 2801313.0581 -10186...  Sajaa_1_L8_(Leg_G)
2101   13953.000000 368199.16842 2801308.2875 -10187...  Sajaa_1_L8_(Leg_G)

[2102 rows x 2 columns]