In [10]:
import pandas as pd
import os

In [11]:
df = pd.read_csv("Sajaa_1_L2_(Leg_D).dev", delimiter='\t')
df

                             # WELL TRACE FROM PETREL
0         # WELL NAME:              Sajaa_1_L2_(Leg_D)
1      # DEFINITIVE SURVEY:      MD Incl Azim survey 1
2        # WELL HEAD X-COORDINATE: 367925.56000000 (m)
3       # WELL HEAD Y-COORDINATE: 2802346.56000000 (m)
4    # WELL DATUM (KB, Kelly bushing, from MSL): 25...
..                                                 ...
254   14448.233333 368553.57941 2802849.2553 -11966...
255   14461.970000 368555.16079 2802853.1249 -11967...
256   14474.646667 368556.69271 2802856.6649 -11967...
257   14487.323333 368558.28843 2802860.1762 -11968...
258   14500.000000 368559.94743 2802863.6575 -11969...

[259 rows x 1 columns]

In [12]:
dev_files_dir = r'C:\Users\Pratham\OneDrive\Desktop\Intenship\DevConversion\Sajaa 1'

dfs = []

for filename in os.listdir(dev_files_dir):
    if filename.endswith('.dev'):
        df = pd.read_csv(os.path.join(dev_files_dir, filename), delimiter='\t')
        
        df['Name'] = filename[:-4]  
        dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

excel_file_path = 'combined_data.xlsx'
combined_df.to_excel(excel_file_path, index=False)

In [13]:
df_col2 = df[[df.columns[-1]]]
df = pd.read_excel(excel_file_path, header=None,skiprows=1)

df = df.dropna(how='all')  
df = df[~df.iloc[:, 0].str.startswith('#')]  
df = df[0].str.split(r'\s+', expand=True)
combined_df = pd.concat([df, df_col2], axis=1)

In [14]:
combined_df.reset_index(drop=True, inplace=True)

combined_df.columns = combined_df.iloc[0]
combined_df = combined_df.iloc[1:]

In [15]:
combined_df = combined_df.rename(columns={'Sajaa_1_L8_(Leg_G)': 'Well_Leg'})
combined_df = combined_df.drop(combined_df.columns[0], axis=1)
combined_df['Well_Leg'] = combined_df['Well_Leg'].fillna(method='ffill')
combined_df.dropna(inplace=True)
combined_df = combined_df[combined_df['MD'].str.replace('.', '', 1).str.isnumeric()]

C:\Users\Pratham\AppData\Local\Temp\ipykernel_1880\74558145.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  combined_df['Well_Leg'] = combined_df['Well_Leg'].fillna(method='ffill')

In [16]:
combined_df.to_excel(excel_file_path, index=False)

In [17]:
df2 = pd.read_excel("combined_data.xlsx")

In [18]:
df2

,MD,X,Y,Z,TVD,DX,DY,AZIM_TN,INCL,DLS,AZIM_GN,Well_Leg
0,0.000000,367925.56000,2.802347e+06,250.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.561606,Sajaa_1_L8_(Leg_G)
1,100.000000,367925.65933,2.802347e+06,150.000812,99.999188,0.099328,-0.038129,111.000000,0.400000,0.400000,111.561606,Sajaa_1_L8_(Leg_G)
2,180.000000,367925.85798,2.802346e+06,70.003899,179.996101,0.297983,-0.114385,111.000000,0.600000,0.250000,111.561606,Sajaa_1_L8_(Leg_G)
3,265.000000,367926.19569,2.802346e+06,-14.987643,264.987643,0.635688,-0.244018,111.000000,1.000000,0.470588,111.561606,Sajaa_1_L8_(Leg_G)
4,500.000000,367927.77113,2.802346e+06,-249.920953,499.920953,2.211131,-0.848774,111.000000,1.700000,0.297872,111.561606,Sajaa_1_L8_(Leg_G)
...,...,...,...,...,...,...,...,...,...,...,...,...
1937,13889.066667,368189.85205,2.801325e+06,-10183.701190,10433.701190,264.292049,-1021.203643,154.363825,87.075869,10.904948,154.925431,Sajaa_1_L8_(Leg_G)
1938,13898.300000,368191.08918,2.801323e+06,-10184.196030,10434.196033,265.529177,-1023.726926,153.400000,86.780000,10.904948,153.961606,Sajaa_1_L8_(Leg_G)
1939,13916.533333,368193.64392,2.801318e+06,-10185.235530,10435.235528,268.083916,-1028.652051,151.766979,86.683953,8.957174,152.328585,Sajaa_1_L8_(Leg_G)
1940,13934.766667,368196.33773,2.801313e+06,-10186.305110,10436.305112,270.777727,-1033.501900,150.133646,86.590594,8.957174,150.695252,Sajaa_1_L8_(Leg_G)
1941,13953.000000,368199.16842,2.801308e+06,-10187.403920,10437.403916,273.608423,-1038.272533,148.500000,86.500000,8.957174,149.061606,Sajaa_1_L8_(Leg_G)