In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("Zomato.csv",encoding='latin1')

In [5]:

avg_per_city = df.groupby('City')['Average Cost for two'].mean()

print(avg_per_city)

City
Abu Dhabi           182.000000
Agra               1065.000000
Ahmedabad           857.142857
Albany               19.750000
Allahabad           517.500000
                      ...
Weirton              25.000000
Wellington City      71.250000
Winchester Bay       25.000000
Yorkton              25.000000
ÛÁstanbul            81.428571
Name: Average Cost for two, Length: 141, dtype: float64