In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("Zomato.csv", encoding='latin1')

In [8]:
max_rating = df.groupby('City')['Aggregate rating'].idxmax()

In [9]:
top_rated_rest = df.loc[max_rating]

print(top_rated_rest)

      Restaurant ID                           Restaurant Name  Country Code  \
580         5703500                              Punjab Grill           214
637         3400346                           Sheroes Hangout             1
653        18385201                                  Cryo Lab             1
89         17284409             Guang Zhou Chinese Restaurant           216
680         2400052                                    Eat On             1
...             ...                                       ...           ...
561        17694056  Theo Yianni's Authentic Greek Restaurant           216
9321        7101042                                The Hangar           148
562        17559793                 Fishpatrick's Crabby Cafe           216
563        16668008                             Arigato Sushi            37
9538        5901782                                 Starbucks           208

                 City                                            Address  \
580         Abu Dhabi  Venetian Village, Ritz Carlton Abu Dhabi, Gran...
637              Agra  Opposite The Gateway Hotel, Fatehabad Road, Ta...
653         Ahmedabad  Ground Floor, Arjun Avenue, Opposite Samarthes...
89             Albany             1214 N Westover Blvd, Albany, GA 31707
680         Allahabad  Palace Compound, Near Palace Cinema, MG Marg, ...
...               ...                                                ...
561           Weirton                322 American Way, Weirton, WV 26062
9321  Wellington City     171-177 Willis Street, Te Aro, Wellington City
562    Winchester Bay        196 Bayfront Loop, Winchester Bay, OR 97467
563           Yorkton           14 Second Ave North, Yorkton, SK S3N 1G1
9538        ÛÁstanbul  Bebek Mahallesi, Cevdetpaôa Caddesi, No 30/A,...

                         Locality                        Locality Verbose  \
580   Venetian Village, Al Maqtaa  Venetian Village, Al Maqtaa, Abu Dhabi
637                       Tajganj                           Tajganj, Agra
653                  Ellis Bridge                 Ellis Bridge, Ahmedabad
89                         Albany                          Albany, Albany
680                   Civil Lines                  Civil Lines, Allahabad
...                           ...                                     ...
561                       Weirton                        Weirton, Weirton
9321                       Te Aro                 Te Aro, Wellington City
562                Winchester Bay          Winchester Bay, Winchester Bay
563                       Yorkton                        Yorkton, Yorkton
9538                        Bebek                        Bebek, ÛÁstanbul

       Longitude   Latitude                     Cuisines  ...  \
580    54.487214  24.410615         Indian, North Indian  ...
637    78.040165  27.161850  Cafe, North Indian, Chinese  ...
653    72.559984  23.028748          Desserts, Ice Cream  ...
89    -84.209146  31.615519   Asian, Chinese, Vegetarian  ...
680    81.834236  25.450377                 North Indian  ...
...          ...        ...                          ...  ...
561   -80.529488  40.396043      Burger, Greek, Sandwich  ...
9321  174.773933 -41.290801                         Cafe  ...
562  -124.175346  43.678998       Burger, Seafood, Steak  ...
563  -102.461317  51.210682                        Asian  ...
9538   29.043734  41.077696                         Cafe  ...

                Currency Has Table booking Has Online delivery  \
580   Emirati Diram(AED)               Yes                  No
637   Indian Rupees(Rs.)                No                  No
653   Indian Rupees(Rs.)                No                  No
89             Dollar($)                No                  No
680   Indian Rupees(Rs.)                No                  No
...                  ...               ...                 ...
561            Dollar($)                No                  No
9321       NewZealand($)                No                  No
562            Dollar($)                No                  No
563            Dollar($)                No                  No
9538    Turkish Lira(TL)                No                  No

     Is delivering now Switch to order menu Price range  Aggregate rating  \
580                 No                   No           4               4.9
637                 No                   No           1               4.9
653                 No                   No           2               4.6
89                  No                   No           1               3.9
680                 No                   No           1               3.7
...                ...                  ...         ...               ...
561                 No                   No           2               3.9
9321                No                   No           3               4.6
562                 No                   No           2               3.2
563                 No                   No           2               3.3
9538                No                   No           2               4.9

      Rating color Rating text Votes
580     Dark Green   Excellent   216
637     Dark Green   Excellent    77
653     Dark Green   Excellent   166
89          Yellow        Good   141
680         Yellow        Good   105
...            ...         ...   ...
561         Yellow        Good   156
9321    Dark Green   Excellent   171
562         Orange     Average    16
563         Orange     Average    26
9538    Dark Green   Excellent  1042

[141 rows x 21 columns]