In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Zomato.csv", encoding='latin1')

In [4]:
cuisines = df['Cuisines'].str.split(', ', expand=True)
cuisines = cuisines.stack()
cuisines

0     0             French
      1           Japanese
      2           Desserts
1     0           Japanese
2     0            Seafood
                ...
9547  2               Cafe
9548  0            Italian
      1      World Cuisine
9549  0    Restaurant Cafe
9550  0               Cafe
Length: 19710, dtype: object

In [5]:

top_cuisines = cuisines.value_counts().head(5)

print(top_cuisines)

North Indian    3960
Chinese         2735
Fast Food       1986
Mughlai          995
Italian          764
Name: count, dtype: int64

###  5 -- Restaurant Distribution using price range

In [6]:
price_range_distribution = df['Price range'].value_counts()

print("Distribution of restaurants is:")
print(price_range_distribution)

Distribution of restaurants is:
Price range
1    4444
2    3113
3    1408
4     586
Name: count, dtype: int64

#### 6-- Correlation of average cost and aggregate rating

In [7]:
correlation = df['Average Cost for two'].corr(df['Aggregate rating'])

print("Correlation is :", correlation)

Correlation is : 0.05179202394973495

#### 7 --- avg rating for booking vs non- booking

In [8]:
avg_rating= df.groupby('Has Table booking')['Aggregate rating'].mean()

print("Average Rating :")
print(avg_rating)

Average Rating :
Has Table booking
No     2.559359
Yes    3.441969
Name: Aggregate rating, dtype: float64

##### 8--- Avg rating of online delivery vs not

In [9]:
avg_rating= df.groupby('Has Online delivery')['Aggregate rating'].mean()

print("Average Rating :")
print(avg_rating)

Average Rating :
Has Online delivery
No     2.465296
Yes    3.248837
Name: Aggregate rating, dtype: float64

##### 9--- Avg rating of online delivery now available vs not

In [10]:
avg_rating= df.groupby('Is delivering now')['Aggregate rating'].mean()

print("Average Rating :")
print(avg_rating)

Average Rating :
Is delivering now
No     2.664632
Yes    3.152941
Name: Aggregate rating, dtype: float64

#### 10--- top restaurants delivering

In [11]:
delivering_restau = df[df['Is delivering now'] == 'Yes']
top_restau = delivering_restau[delivering_restau['Aggregate rating'] == delivering_restau['Aggregate rating'].max()]

print("Top-rated Restaurants currently delivering:")
print(top_restau)

Top-rated Restaurants currently delivering:
      Restaurant ID      Restaurant Name  Country Code       City  \
4206       18421049  Midnight Hunger Hub             1  New Delhi

                   Address   Locality      Locality Verbose  Longitude  \
4206  Janakpuri, New Delhi  Janakpuri  Janakpuri, New Delhi  77.090076

       Latitude                                 Cuisines  ...  \
4206  28.612279  North Indian, Fast Food, Italian, Asian  ...

                Currency Has Table booking Has Online delivery  \
4206  Indian Rupees(Rs.)                No                 Yes

     Is delivering now Switch to order menu Price range  Aggregate rating  \
4206               Yes                   No           2               4.5

      Rating color Rating text Votes
4206    Dark Green   Excellent    50

[1 rows x 21 columns]

#### 11-- relation betwn price range and avg cost for two

In [12]:
price_range_avg_cost = df.groupby('Price range')['Average Cost for two'].mean()

print("Relationship between is:")
print(price_range_avg_cost)

Relationship between is:
Price range
1     275.182943
2     596.826213
3    5177.268466
4    1848.523891
Name: Average Cost for two, dtype: float64

#### 12-- common rating text

In [13]:
most_common_rating = df['Rating text'].value_counts().idxmax()

print("Most common rating text:", most_common_rating)

Most common rating text: Average

#### 13---avg votes for restaurant in each city

In [14]:
average_votes = df.groupby('City')['Votes'].mean()

print("Average number of votes:")
print(average_votes)

Average number of votes:
City
Abu Dhabi          302.250000
Agra               103.100000
Ahmedabad          584.095238
Albany              83.800000
Allahabad           69.600000
                      ...
Weirton            156.000000
Wellington City    146.300000
Winchester Bay      16.000000
Yorkton             26.000000
ÛÁstanbul          860.214286
Name: Votes, Length: 141, dtype: float64

### 14--calculate the mean of Aggregate rating for each locality

In [15]:
average_rating = df.groupby('Locality')['Aggregate rating'].mean()

print("Average rating for restaurants in each locality:")
print(average_rating)

Average rating for restaurants in each locality:
Locality
 ILD Trade Centre Mall, Sohna Road     3.050000
12th Square Building, Banjara Hills    4.300000
A Hotel, Gurdev Nagar                  3.600000
ARSS Mall, Paschim Vihar               3.100000
Aaya Nagar                             0.000000
                                         ...
ibis New Delhi, Aerocity               1.550000
íguas Claras                          3.666667
íayyolu                               4.300000
íukurambar                            3.400000
íìmitkí_y                              4.200000
Name: Aggregate rating, Length: 1208, dtype: float64

#### 15--- menu switch option  available vs not

In [16]:
avg_rating = df.groupby('Switch to order menu')['Aggregate rating'].mean()

print("Average rating having menu switch option:")
print(avg_rating)

Average rating having menu switch option:
Switch to order menu
No    2.66637
Name: Aggregate rating, dtype: float64